### 4-1. 리스트(List)

In [1]:
a = [3, 7, 13, 14, 19]
a, type(a)

([3, 7, 13, 14, 19], list)

In [2]:
# 리스트에는 다양한 자료형의 데이터를 사용할 수 있다.
person = ['James', 27, 175.3, 'male']
person

['James', 27, 175.3, 'male']

- 인덱싱

In [3]:
person[0]

'James'

In [5]:
# 슬라이싱 가능
a = [3, 7, 13, 14, 19]
a[1:-1], a[:2], a[3:]

([7, 13, 14], [3, 7], [14, 19])

In [6]:
a[::2], a[::-1]

([3, 13, 19], [19, 14, 13, 7, 3])

- 값 변경

In [14]:
a[2] = [10,20] # list안에 list가 들어감
a[3] = 12, 14 # ()안에 들어감 [3, 7, [10, 20], (12, 14), 19]
a

[9, 23, [10, 20], (12, 14)]

In [15]:
# list 속 list의 한 요소를 출력
a[3][1]

14

- 빈 리스트 만들기

In [16]:
# 두 가지 방법으로 만들 수 있다.
a = []
b = list()

In [19]:
# append : JS의 push (배열 안에 집어넣기)
import random
for i in range(5): # 5회 반복
    a.append(random.randint(40,100))
a

[89, 84, 75, 78, 100, 91, 57, 79, 82, 92]

- 리스트 연산

In [21]:
# + 하면 두 리스트가 합쳐진다.
a = [1,5,3]
b = [4,6,2]
a + b

[1, 5, 3, 4, 6, 2]

In [22]:
# * 하면 리스트가 반복된다.
a * 3

[1, 5, 3, 1, 5, 3, 1, 5, 3]

In [23]:
# len : 리스트 문자열의 갯수
len(b)

3

- tuple
    - 일단 생성되면 값을 수정할 수 없다 (immutable)
    - 리스트를 상수화 시킴

In [24]:
a = (24, 31, 47, 5, 25)
a, type(a)

((24, 31, 47, 5, 25), tuple)

In [25]:
a[2]

47

In [26]:
# 값을 바꿀 수 없다
a[2] = 34

TypeError: 'tuple' object does not support item assignment

In [27]:
# 값을 추가할 수도 없다
a.append(88)

AttributeError: 'tuple' object has no attribute 'append'

In [28]:
# element가 하나밖에 없으면 ,를 붙여줘야한다.
b = (24)
type(b)

int

In [29]:
b = (24,)
type(b)

tuple

In [30]:
# ()가 생략되어도 tuple이다
d = 12, 25
type(d)

tuple

In [31]:
# 빈 튜플 만들기 : 빈 ()
f = ()
type(f)

tuple

- 리스트와 튜플

In [32]:
t = tuple([1,2,3,])
l = list((4,5,6))
type(t), type(l)

(tuple, list)

- 리스트에 문자열 넣기

In [33]:
# 문자열을 list화 하면 한 글자씩 리스트에 들어간다
hello = list('안녕하세요')
hello

['안', '녕', '하', '세', '요']

- 리스트 / 튜플 언패킹

In [34]:
# 튜플 언패킹
x, y, z = 10, 20, 30
x, y, z

(10, 20, 30)

In [35]:
# 리스트 언패킹
x, y, z = [10, 20, 30]
x, y, z

(10, 20, 30)

In [36]:
x, y, z = list('abc')
x, y, z

('a', 'b', 'c')

In [1]:
num = int(input())
t = tuple(range(-10,10,num))
print(t)

(-10, -8, -6, -4, -2, 0, 2, 4, 6, 8)