# 숫자계산

In [4]:
import math

In [5]:
# math 라이브러리를 사용하겠다고 선언

##### 1. 정수(Integer)

In [6]:
# +,-,*
4 + 3, 4-3, 4*3

(7, 1, 12)

In [7]:
# / : 정수/정수 --> 실수
5 / 2

2.5

In [8]:
# 몫(//)과 나머지(%)
5 // 2, 5 % 2

(2, 1)

In [12]:
q,r = divmod(5,2)
q,r

(2, 1)

In [10]:
# 거듭제곱 (a**b, math.pow(a,b))
2 ** 10, math.pow(2,10)

(1024, 1024.0)

In [11]:
# 실수 -> 정수 변환
int(5.5), math.floor(5.5), math.ceil(5.5)

(5, 5, 6)

In [13]:
# 문자열 -> 정수 변환
int('34')

34

In [ ]:
# 실수 문자열 -> 정수 변환
# = 불가능, ex) int('3.14')

In [14]:
# 타입 
# 실수 : floating point
type(5), type(3.14), type('3.14')

(int, float, str)

In [16]:
sum = 0.
for i in range(1, 101):
    sum += i * 0.001
print(sum)

5.050000000000001

In [17]:
# 실수는 정확한 값을 표현할 수 없으므로 다음과 같은 표현은 잘못된 표현
if sum == 5.05:
    print('합은 5.05입니다')
else:
    print('합은 5.05가 아닙니다.')

합은 5.05가 아닙니다.

In [19]:
# abs() : 절대값
if abs(sum - 5.05) < 1e-10:
    print('합은 5.05입니다')
else:
    print('합은 5.05가 아닙니다.')

합은 5.05입니다

- 2진수(binary), 8진수(octal), 16진수(hexadecimal)

In [21]:
# 2진수는 앞에 0b를 붙인다
0b01000001

65

In [22]:
# 8진수는 앞에 0o
0o101

65

In [23]:
# 16진수는 앞에 0x
0x41

65

##### 2. 실수 (Floating point)

In [26]:
# 정상
3.5 + 2.1

5.6

In [27]:
# 비정상
4.3 - 2.7

1.5999999999999996

In [28]:
# 지수 표현
1.4e10    # 1.4 * 10**10

14000000000.0

In [30]:
31415926535e-10

3.1415926535

In [31]:
# 실수와 정수의 혼합 연산
4.2 + 5

9.2

In [32]:
# 값을 실수로 변환
float(3), float('3'), float('3.14')

(3.0, 3.0, 3.14)

##### 3. 연산자 우선순위

In [33]:
3*5+4, 4+5*3

(19, 19)

In [35]:
# unary operator (음수 표현)
-3 ** -5 *4

-0.01646090534979424

In [36]:
(-3**-5)*4, -3**(-5*4)

(-0.01646090534979424, -2.8679719907924413e-10)