##### 2.3 변수와 입력

In [1]:
# 파이썬에서는 변수 선언 시 let/var/const 등을 쓰지 않는다

- 변수

In [2]:
pi = 3.145926535
pi + 2

5.145926535

In [4]:
radius = 10
print(f'원의 둘레는: {2 * radius * pi}')
print(f'원의 면적은: {pi*radius**2}')

원의 둘레는: 62.918530700000005
원의 면적은: 314.5926535

- 복합 대입 연산자 (+=, -=, *=, 등)

In [6]:
odd_sum = 0
for i in range (1, 100, 2):
    odd_sum += i
print(odd_sum)

2500

In [7]:
ten_factorial = 1
for i in range (1, 11):
    ten_factorial *= i
print(ten_factorial)

3628800

In [9]:
# 문자열의 복합 연산자
hello = ''
for i in range (3):
    hello += '안녕!'
print(hello)

안녕!안녕!안녕!

- 표기법

In [ ]:
# snake notation
my_height = 175
my_weight = 75

In [10]:
# 변수명을 한글로 쓸 수 있다
한글변수 = 5
print(한글변수)

5

- 여러개의 변수

In [13]:
#triple unpacking
x, y, z = 10,20,30

In [14]:
# swaping (x와 y의 값을 서로 바꿈)
x, y = y, x
x, y

(20, 10)

- 값이 없을 경우

In [16]:
x = None      # Java, JS의 Null에 해당

In [17]:
x

- 입력(input)

In [18]:
# input은 상단에 입력 창이 뜬다.
a = input('prompt> ')
a, type(a)

('', str)

In [19]:
# type 변환을 하지 않으면 엉뚱한 결과가 나온다.
a = input('첫 번째 정수를 입력하세요> ')
b = input('두 번째 정수를 입력하세요> ')
a + b

'34'

In [20]:
# int로 입력값을 정수로 바꿈
a = int(input('첫 번째 정수를 입력하세요> '))
b = int(input('두 번째 정수를 입력하세요> '))
a + b

7

In [23]:
# 인치 단위를 센티미터 단위로 변경
inch = float(input('인치값 입력'))
cm = inch * 2.54
print(f'{inch}인치는 {cm:.2f} 센티미터입니다.')

5.4인치는 13.72 센티미터입니다.

- 입력값 여러개 받기

In [26]:
# 문자열 split() method
'10 20'.split() # split의 괄호 안을 생략하면 ' '

['10', '20']

In [27]:
# ( ) : tuple - 한 번 값이 정해지면 못 바꾼다
# [ ] : list - 자유롭게 값을 바꿀 수 있다
# { } : dictionary

In [28]:
# list unpacking
a, b = '10 20'.split()
a, b

('10', '20')

In [35]:
# 숫자를 blank로 구분
a, b = input('두 개의 숫자 입력').split()
a, b

('3', '4')

In [36]:
# 숫자를 ,로 구분
a, b = input('두 개의 숫자 입력').split(',')
a, b

('3', '4')

In [38]:
# list의 각 원소(element)에 함수를 적용하는 방법 (map)
list(map(int, ['10', '20'])) # [int('10'), int('20')]

[10, 20]

In [39]:
a, b = map(int, ['10', '20'])
a, b

(10, 20)

In [40]:
# 첫 번째 split()과 두 번째 map을 결합
a, b = map(int, input('두 개의 숫자를 입력').split())
a, b, a+b

(3, 4, 7)

In [45]:
# x, y, z에 세 개의 실수 입력값을 지정하고 싶을 경우
x, y, z = map(float, input('세 개의 실수를 입력').split())
x, y, z, x+y+z

(1.1, 2.2, 3.3, 6.6)