In [1]:
sum = 0

for i in range(1, 101):
    if i % 3 == 0:
        sum += i

print(sum)

1683

In [ ]:
x, y = map(int, input())

In [54]:
sum = 0
a = [sum + i**2 for i in range(1,21) if i % 2 != 0]
print(a)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

In [12]:
import datetime as dt

class Member:
    def __init__(self, mid, name, birth_year, tel):
        self.mid = mid
        self.name = name
        self.birth_year = birth_year
        self.__tel = tel

    def __str__(self):
        return f'id : {self.mid}, 이름 : {self.name}, 나이 : {self.get_year()}, 전화번호: {self.__tel}'
    
    def get_year(self):
        now = dt.date.today()
        return now.year - self.birth_year
    
    def get_tel(self):
        return self.__tel
    
    def set_tel(self, tel):
        self.__tel = tel

In [13]:
james = Member('James123','James',1993,'010-1234-5678')
print(james.__str__())

id : James123, 이름 : James, 나이 : 30, 전화번호: 010-1234-5678

In [14]:
maria = Member('Maria123','Maria',1996,'010-1111-9999')
print(maria.__str__())

id : Maria123, 이름 : Maria, 나이 : 27, 전화번호: 010-1111-9999

In [15]:
james.set_tel('010-5678-1234')
print(james.get_tel())

010-5678-1234

In [16]:
print(james.__str__())

id : James123, 이름 : James, 나이 : 30, 전화번호: 010-5678-1234

In [17]:
maria.set_tel('010-8888-7777')
print(maria.get_tel())

010-8888-7777

In [18]:
print(maria.__str__())

id : Maria123, 이름 : Maria, 나이 : 27, 전화번호: 010-8888-7777

In [57]:
def is_prime(num):
    for i in range(2, num):
        if num % i != 0:
            return True
        else:
            return False

In [70]:
def is_prime(N):
    if N == 1:
        return False
    for i in range(2, N):
        if N % i == 0:
            return False
    return True

In [71]:
is_prime(4)

False

In [77]:
sum = 0
a = [sum + i for i in range(2,101) if is_prime(i)==True]
print(a)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]